#container {
  width: 98%;
}

#side-nav {
  float: left;
  width: 120px;
  position: fixed;
}

#adspot label {
  width: 120px;
  display: block;
  font-size: 10px;
}

#main {
  margin-left: 124px;
  position: relative;
}

#search-box input[type=text]{
  width: 100px;
}
