<!DOCTYPE html>
<html>
<head>
  <base target="_top">
  <?!= TemplateLoader.load('templates/dest/css/vender/fullcalendar.min.css') ?>
  <?!= TemplateLoader.load('templates/dest/css/vender/jquery.qtip.min.css') ?>
  <?!= TemplateLoader.load('templates/dest/css/style.css') ?>
  <?!= TemplateLoader.load('templates/dest/js/vender/moment.min.js') ?>
  <?!= TemplateLoader.load('templates/dest/js/vender/jquery-2.2.4.min.js') ?>
  <?!= TemplateLoader.load('templates/dest/js/vender/fullcalendar.min.js') ?>
  <?!= TemplateLoader.load('templates/dest/js/vender/fullcalendar.locale.ja.js') ?>
  <?!= TemplateLoader.load('templates/dest/js/vender/jquery.qtip.min.js') ?>
  <?!= TemplateLoader.load('templates/dest/js/vender/jquery.tmpl.min.js') ?>
  <?!= TemplateLoader.load('templates/dest/js/app.js') ?>
</head>
<body>
  <div id="container">
    <div id="side-nav"></div>
    <div id="main">
      <div id="calendar"></div>
    <div>
  <div>
  <script type="text/javascript">
  setupCalendar($);
  </script>
</body>
</html>
