<!DOCTYPE html>
<html>
<head>
  <base target="_top">
  <?!= TemplateLoader.load('templates/dest/css/vender.css') ?>
  <?!= TemplateLoader.load('templates/dest/css/style.css') ?>
  <?!= TemplateLoader.load('templates/dest/js/vender.js') ?>
  <?!= TemplateLoader.load('templates/dest/js/app.js') ?>
</head>
<body>
  <div id="container">
    <div id="side-nav">
      <div id="search-box">
        <input type="text" id="js-search-text"><button id="js-search-button">検索</button>
      </div>
      <div id="option-box">
        <label><input type="checkbox" id="js-toggle-all">全て表示</label>
      </div>
      <?!= Component.getAdSpots() ?>
    </div>
    <div id="main">
      <div id="calendar"></div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    app.setUp($);
  });
  </script>
</body>
</html>
