<script type="text/x-jquery-tmpl" id="tmpl-adspot">
<span id="adspot">
  {{each adSpots}}
  <label style="background-color:{$value.color};"><input type="checkbox">{$value.name}</label>
  {{/each}}
</span>
</script>
